<a href="/comic/{{_id}}">
    <figure class="comic">
        <img width="200px" loading="lazy" height="300px" src={{imageUrl}} alt="doctor strange">
        <figcaption class="comic__text">{{name}}</figcaption>
    </figure>
</a>