<footer class="footer">
    <div class="footer__socials">
        <a href="/"><img src="/img/icon-linkedin.svg" alt="linkedin"></a>
        <a href="/"> <img src="/img/icon-github.svg" alt="github"></a>
        <a href="/"> <img src="/img/icon-twitter.svg" alt="twitter"></a>
    </div>
    <div class="footer__text">
        Emirhan KARAHAN • © 2022 • The Dog Ear <br>
        Comic book database and recommendations demo
    </div>
</footer>