
<main class="not-found">
    <img class="not-found__image" src="/img/not-found.jpeg" alt="404 page" width="400px">
    <section class="not-found__info">
        <div>
            <div>we couldn't find the page that you're looking for</div>
            <h2><a href="/">go to homepage ↩</a></h2>
        </div>
    </section>
</main>